body{
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%; 
}
#welcome{
    position: absolute;
    z-index: 9;
    height: 800px;
    color: lime;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: midnightblue;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
}
.parallax-inner{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}
#name{
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}
h2{
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
}
.line{
    height: 6px;
    background-color: lime;
    width: 70px;
    margin: 8px auto;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.menu{
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10;
    margin-top: 0px;
    background: white;
    width: 100%;
}
.links{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: cursive;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
    
}
a{
    text-decoration: none;
    color: lime;
}
.article:hover{
    color: lime;
}
html{
    scroll-behavior: smooth;
}
#writings a{
    text-shadow: none !important;
    text-decoration: underline !important;
    color: lime !important;
}
#contact{
    background: midnightblue;
}
.contact_1 a{
    color: orange;
}
.contact_1 h3{
    display: inline;
}
#contact iframe{
    width: 100%;
}
img{
    height: 300px;
    width: 300px;
}